.selectedPage{
    padding: 10px 20px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head a{
    color: #229ED9;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.order{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.order img{
    width: 40px;
    padding-right: 5px;
}

.price{
    margin-left: auto;
}

.quantity{
    color: #229ED9;
}